@import 'holberton_school-icon/style.css';
/* Variables */
:root {
  --font-family: 'Source Sans Pro', sans-serif;
  --color-primario: #ffffff;
  --color-orange: #ff6565;
  --bar-width: 60px;
  --bar-height: 8px;
  --hamgap: 6px;
  --color-black: #071629;
}


/*========================*/
html {
  height: 100%;
  position: relative;
  font-family: var(--font-family);
  scroll-behavior: smooth;
}

.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
  text-decoration: none;
  color: var(--color-primario);
  cursor: pointer;
  user-select: none;
}

a:hover,
a:active {
  color: var(--hovercolor);
}

body header {
  position: absolute;
  width: 100%;
  margin-bottom: -110px;
  z-index: 2;
  background: transparent;
}

.header-container  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  width: 230px;
  height: 40px;
  background-image: url(images/logo_headphones.png);
  background-repeat: no-repeat;
  background-size: 80% auto;
}

/* Navbar menu */

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-primario);
  margin-bottom: 100px;
  order: -1;
}

.navbar-menu ul {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.navbar-menu li {
  padding: 15px;
  display: none; 
  font-size: 12px;
}

/* hambuger menu  */

#burger-check {
  width: 30px;
  transition: all .2s ease-in-out;
}

#burger-check:checked {
  width: 4px;
}

#burger-check:checked~.navbar-menu li {
  display: block;
}

#burger-check:checked~.navbar-menu {
  margin-bottom: 1px;
}

#burger-label {
  order: -1;
  top: 0%;
  left: 0%;
  display: block;
  cursor: pointer;
  position: relative;
  user-select: none;
  padding: 2.5rem;
}

#burger-line,
#burger-line::before,
#burger-line::after {
  position: relative;
  display: block;
  background: var(--color-primario);
  height: .15rem;
  width: 1.2rem;
  transition: all .2s ease-in-out;
}

#burger-line::before {
  position: absolute;
  content: "";
  width: 1.7rem;
  top: -0.5rem;
}

#burger-line::after {
  position: absolute;
  content: "";
  width: 1.7rem;
  top: 0.5rem;
}


#burger-check:checked~* #burger-line::before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
}

#burger-check:checked~* #burger-line {
  background-color: transparent;
  width: 0rem;
}

#burger-check:checked~* #burger-line::after {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

/* Hero section */

.hero {
  background-image: url("images/headphones_hero_1.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat:no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.hero h1 {
  color: var(--color-primario);
  margin-top: 372px;
  margin-bottom: 0;
  text-align: center;
}
.hero strong {
  color: var(--color-primario);
  text-align: center;
  font-size: 16px;
  margin: 0 10px 10px 10px;
}

.hero p {
  color: var(--color-primario);
  padding: 30px;
  max-width: 637px;
  text-align: center;
  line-height: 26px;
  font-weight: 400;
  font-size: 16px;
}

.button {
  border-radius: 22px;
  background: var(--color-orange);
  border: none;
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
  color: var(--color-primario);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  margin: 1rem auto;
  padding: 1rem 2rem;
  transition: opacity 0.2s;
}

button:hover,
button:active {
  opacity: 0.9;

}

/* what we do section*/

.what-we-do {
  display: flex;
  max-width: 637px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.large-text {
  color: #071629;
  text-align: center;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.wwd-icon {
  width: 207px;
}

.wwd-icons {
  color: var(--color-black);
    height: auto;
    text-align: center;
    margin: auto;
    display: flex;
    padding: 70px;
    margin-bottom: 110px;
    max-width: 1000px;
}

.wwd-icons h3 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
}

.wwd-icons p {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: var(--color-black);
}

.holberton_school-icon-ic_sound,
.holberton_school-icon-ic_video,
.holberton_school-icon-ic_music,
.holberton_school-icon-ic_hearing {
    color: var(--color-orange);
    font-size: 5rem;
}
/* mobile section*/

@media screen and (min-width: 480px) {
  #burger-label {
    display: none;
  }

  .navbar-menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-menu a {
    margin-left: auto;
    margin-right: auto;
    justify-self: flex-start;
  }

  .navbar-menu ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
  }

  .navbar-menu li {
    padding: 2px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

/* Tablet Section */
 @media screen and (max-width: 768px)  {

    }